<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                    Owl is a light-weight Firefox add-on that makes your reading experience enjoyable by reducing the strain on your eyes, and is ideal for night reading.
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    Owl transforms webpages with a comfortable dark theme on-the-fly, protecting your eyes from the glaring color schemes on most websites.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    Owl comes bundled with a tonne of feautures. With Owl, you can:
                    <ul class="text-left">
                        <li>Transform webpages (or local markup files) to use a dark theme</li>
                        <li>Choose between two themes (Default and Classic) to suit your needs</li>
                        <li>Use different themes on a site-to-site basis</li>
                        <li>Selectively Disable Owl on specific websites</li>
                        <li>Always use dark theme on specific websites</li>
                        <li>Invert PDF files</li>
                        <li>Turn on Owl on Firefox startup</li>
                    </ul>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8 col-lg-push-2 text-center">
                <p>Sounds good? Get it now for Firefox!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://addons.mozilla.org/en-US/firefox/addon/owl/" class="btn btn-lg btn-outline" style="font-size: 1.75em">
                    <i class="fa fa-download"></i> Download Owl for Firefox
                </a>
            </div>
        </div>
    </div>
</section>
